/*GERAIS*/
body {
    background-image: url("imgs/background.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    font-family: "Inter";
    object-fit: cover;
}

/*CLASSES PARA FONTES*/
.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.f8 {
    font-size: 8px;
}

.f10 {
    font-size: 10px;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px !important;
}

.f24 {
    font-size: 24px;
}




bg-header {
    background-image: url("imgs/background-header.png");
}



/*CLASSES MODELO BOOTSTRAP*/
.glass {
    width: clamp(256px, 20vw, 344px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    backdrop-filter: blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
    /*apple*/
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    width: 100%;
}

.clamp-mobile {
    width: clamp(256px, 80vw, 344px);
}

p {
    margin-bottom: 0 !important;
}

.icon-8 {
    width: 8rem;
    height: 8rem;
}
.icon-3-8 {
    width: 3.8rem;
    height: 3.8rem;
}
.icon-2-8 {
    width: 2.75rem;
    height: 2.75rem;
}
.icon-2-5 {
    width: 2.5rem;
    height: 2.5rem;
}

.w-60 {
    width: 60%;
}
.w-85 {
    width: 85%;
}
.w-95 {
    width: 95%;
}

.bg-light-80 {
    background-color: rgba(255, 255, 255, 0.8);
}
.bg-light-90 {
    background-color: rgba(255, 255, 255, 0.9);
}

.opacity-80 {
    opacity: 0.8;
}

.border-radius-bottom-0 {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/*CARROSEEL*/
.img-produto {
    width: clamp(97px, 30vw, 110px);
    height: clamp(79px, 13vh, 129);
    border-radius: 8px;
    position: block;
}

.unidade-carrossel {
    background-color: white;
    width: clamp(105px, 33vw, 130px);
    height: clamp(135px, 24vh, 200);
    border-radius: 8px;
    position: relative;
}

.estrelas {
    position: absolute;
    width: clamp(17px, 5vw, 18px);
    height: clamp(10, 1.7vh, 15px);
}

.botao-mais {
    position: absolute;
    width: clamp(18px, 5vw, 19px);
    height: clamp(18px, 3vh, 19px);
    top: 50%;
    transform: translateY(-50%);
    left: 80%;
    transform: rotateX(-50%);
}

#agrupador-de-cards {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}


/* HEADER */

.custom-header {
    width: 100%;
    background-color: #c6ddd1bb;
}

.inner-header {
    max-width: 50rem;
}

.inner-header .btn:active {
    border: none !important;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-align: center;
}

.header-title-pd {
    color: #10203D;
}

.header-title-pet {
    color: #71C483;
}

.header-menu-container {
    background: linear-gradient(to bottom, #394c45e3, #597369e3);
    opacity: 0%;
}

.header-menu-item {
    color: #ffffff;
    width: 90%;
    max-width: 25rem;
    font-size: 1.25rem;
    font-weight: 400;

    opacity: 0%;
    transition: opacity 0.5s ease, transform 0.3s ease;
}


.menu-icon {
    transition: transform 0.35s ease;
}

.btn[aria-expanded="true"] .menu-icon {
    transform: rotate(180deg);
}


.header-menu-container,
.collapse.show .header-menu-item {
    opacity: 1;
}


/* HOME */

.card-emergencia-home {
    width: clamp(280px, 87.5vw, 672px);
}

/*APRESENTAÇÃO*/
#apresenta-titulo {
    background-color: white;
    width: clamp(256px, 80vw, 344px);
    height: clamp(58px, 10.2vh, 95px);
    text-align: center;
}

.apresenta-produto {
    width: clamp(256px, 80vw, 344px);
    height: clamp(262px, 46.12vh, 430);
}

#apresenta-article {
    background-color: white;
    width: clamp(256px, 80vw, 344px);
    text-align: center;
}

#apresenta-finais {
    width: clamp(256px, 80vw, 344px);
}

#apresenta-preco {
    width: clamp(147px, 45.93vw, 197.5px);
    background-color: white;
}

#apresenta-carrinho {
    background-color: white;
    width: clamp(101px, 31.5vw, 135.7px);
}

#imagem-carrinho {
    width: clamp(44px, 13.75vw, 59.125px);
}