/*GERAIS*/
body {
    background-image: url("imgs/background.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

bg-header {
    background-image: url("imgs/background-header.png");
}



/*MAINS VIA CLASSE*/
.login-main {
    width: clamp(280px, 87.5vw, 672px);
    height: clamp(500px, 88vh, 600px);
    max-width: 90vw;
}

.cadastro-main {
    /*width: 16.25rem;
    height: 17.5rem;*/
    width: clamp(260px, 81.25vw, 624px);
    height: clamp(260px, 50vh, 466px);
    max-width: 90vw;
}

.recuperar-main {
    width: clamp(280px, 87.5vw, 672px);
    /*280 é o tamanho no SE, 87.5 é a porc da tela e 672 é o tamanho no iphone gigante*/
    height: clamp(400px, 70vh, 656px);
    max-width: 90vw;
}

/*CLASSES MODELO BOOTSTRAP*/
.glass {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    backdrop-filter: blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
    /*apple*/
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
}

.icon-8 {
    width: 8rem;
    height: 8rem;
}

.java-foto {
    width: 8rem;
    height: 8rem;
}

.icon-3-8 {
    width: 3.8rem;
    height: 3.8rem;
}

.java-foto-2 {
    width: 3.8rem;
    height: 3.8rem;
}

.icon-2-5 {
    width: 2.5rem;
    height: 2.5rem;
}

.java-foto-header {
    width: 2.5rem;
    height: 2.5rem;
}

.text-input {
    width: clamp(240px, 75vw, 322px);
    height: clamp(40px, 7vh, 66px);
    border-radius: 0.5rem;
    border-style: none;
}

.text-input-2 {
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border-style: none;
}

.text-input-3 {
    width: 12.8rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border-style: none;
}

.entrar-button {
    width: 11rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border-style: none;
}

.outro-button {
    width: 9rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border-style: none;
}

.bg-light-80 {
    background-color: rgba(255, 255, 255, 0.8);
}
.bg-light-90 {
    background-color: rgba(255, 255, 255, 0.9);
}

/*CARROSEEL*/
.img-produto {
    width: clamp(97px, 30vw, 130px);
    height: clamp(79px, 13vh, 129);
}





/*LOGIN*/





/*CADASTRO*/




/* HEADER */

.custom-header {
    width: 100%;
    background-color: #c6ddd1bb;
}

.inner-header {
    max-width: 50rem;
}

.java-icone {
    width: 2.75rem;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-align: center;
}

.header-title-pd {
    color: #10203D;
}

.header-title-pet {
    color: #71C483;
}

.header-menu-container {
    background: linear-gradient(to bottom, #394c45e3, #597369e3);
    opacity: 0%;
}

.header-menu-item {
    color: #ffffff;
    width: 90%;
    max-width: 25rem;
    font-size: 1.25rem;
    font-weight: 400;

    opacity: 0%;
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.inner-header .btn:active {
    border: none !important;
}

.menu-icon {
    transition: transform 0.35s ease;
}

.btn[aria-expanded="true"] .menu-icon {
    transform: rotate(180deg);
}


.header-menu-container, .collapse.show .header-menu-item {
    opacity: 1;
}


/* HOME */

.card-emergencia-home {
    max-width: 30rem;
}