<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>PD Pet - Alterar Senha</title>
</head>

<body class="d-flex justify-content-center align-items-center">
    <main>
        <section class="glass d-flex flex-column align-items-center justify-content-between gap-2">

            <div class="d-flex align-items-center justify-content-around p-2">
                <img class="icon-3-8" src="../imgs/icones/icone-no-background.png">
            </div>
            <input class="text-input-3 w-85 rounded-3 border-0 p-2" type="text" placeholder="CPF">
            <input class="text-input-3 w-85 rounded-3 border-0 p-2" type="password" placeholder="Senha">
            <input class="text-input-3 w-85 rounded-3 border-0 p-2" type="password" placeholder="Senha Novamente">

            <a href="../index.html" class="w-60 f-10 m-auto"><button class="w-100 f-10 py-1 rounded-3 border-0 efeito-sombra">Alterar</button></a>
        </section>
    </main>
</body>
</html>